.cabecera{ background-color: #e2a3fb;
    width:1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}



.texto{
    color: teal;
    width: 600px;
    margin-left:20px;
    font-size: 12px;
}

.texto h2 {

    font-size: 20px;
}


.cuadro{ background-color: #89d57c;
    height: 120px;
    width: 200px;
    margin-right: 20px;
    border-radius: 10px;
    color:#e2a3fb;
    

}

.cuadro p { font-size: 12px;
    margin:2px 0px 2px 35px;


}

.cuadro h4{ margin: 20px 0px 15px 20px;


}